<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{parts/layout}">
<head>
  <meta charset="UTF-8">
  <title>Activity</title>
</head>
<body>
<div layout:fragment="content">
  <h4>Activity</h4>
  <div class="row mb-5">
    <label for="name" class="col-sm-2 col-form-label">Name:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" id="name"
             th:placeholder="${item.name}"
             disabled>
    </div>
  </div>
  <div class="btn-group mt-2">
    <a class="btn btn-primary p-lg" th:href="@{/items/{itemId}/update(itemId=${item.id})}" role="button">Update activity</a>
    <form th:action="@{/items/{itemId}/delete(itemId=${item.id})}" method="post">
      <button type="submit" class="btn btn-primary btn-danger ms-3">Remove</button>
    </form>
  </div>
</div>
</body>
</html>