<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{parts/layout}">
<head>
  <meta charset="UTF-8">
  <title>Price</title>
</head>
<body>
<div layout:fragment="content">
  <h4>Price</h4>
  <div class="row mb-5">
    <label for="itemName" class="col-sm-2 col-form-label">Activity:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="itemName"
             th:placeholder="${price.item.name}"
             disabled>
    </div>

    <label for="amount" class="col-sm-2 col-form-label">Amount:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="amount"
             th:placeholder="${price.amount}"
             disabled>
    </div>

    <label for="durationMonths" class="col-sm-2 col-form-label">Count month:</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="durationMonths"
             th:placeholder="${price.duration.months}"
             disabled>
    </div>
  </div>
  <div class="btn-group mt-2">
    <a class="btn btn-primary p-lg" th:href="@{/prices/{priceId}/update(priceId=${price.id})}"
       role="button">Update price</a>
    <form th:action="@{/prices/{priceId}/delete(priceId=${price.id})}" method="post">
      <button type="submit" class="btn btn-primary btn-danger ms-3">Remove</button>
    </form>
  </div>
</div>
</body>
</html>