<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Duration</title>
</head>
<body>
<div>
  <label for="itemName">Activity:
    <span id="itemName" th:text="${price.item.name}"></span>
  </label>
  <label for="amount">Amount:
    <span id="amount" th:text="${price.amount}"></span>
  </label>
  <label for="durationMonths"> Count month:
    <span id="durationMonths" th:text="${price.duration.months}"></span>
  </label>
</div>
<button type="button">
  <a th:href="@{/prices/{priceId}/update(priceId=${price.id})}">Update price</a>
</button>
<form th:action="@{/prices/{priceId}/delete(priceId=${price.id})}" method="post">
  <button type="submit">Remove</button>
</form>


</body>
</html>