<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit duration</title>
</head>
<body>
<form th:action="@{/prices/{priceId}/update(priceId=${price.id})}" method="post">
  <div>
    <label for="item">Activity name:
      <select name="itemId" id="item">
        <option th:each="item : ${items}"
                th:value="${item.id}"
                th:selected="${item.id == price.item.id}"
                th:text="${item.name}">Activity
        </option>
      </select>
    </label>
  </div>
  <div>
    <label for="amount">Amount:
      <input id="amount" type="text" name="amount" th:value="${price.amount}">
    </label>
  </div>
  <div>
    <label for="duration">Count months:
      <select name="durationId" id="duration">
        <option th:each="duration : ${durations}"
                th:value="${duration.id}"
                th:selected="${duration.id == price.duration.id}"
                th:text="${duration.months}">Activity
        </option>
      </select>
    </label>
  </div>
  <button type="submit">Update</button>
</form>
<form th:action="@{/prices/{priceId}/delete(priceId=${price.id})}" method="post">
  <button type="submit">Remove</button>
</form>
</body>
</html>