<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{parts/layout}">
<head>
  <meta charset="UTF-8">
  <title>Prices</title>
</head>
<body>
<div layout:fragment="content">
  <h4>Prices</h4>
  <table class="table table-hover table-light table-sm">
    <caption>List of prices</caption>
    <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Activity name</th>
      <th scope="col">Amount</th>
      <th scope="col">Count months</th>
      <th scope="col">Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="price : ${prices}">
      <th scope="row" th:text="${price.id}"></th>
      <td>
        <a th:href="@{/items/{itemId}(itemId=${price.item.id})}"
           th:text="${price.item.name}"></a>
      </td>
      <td th:text="${price.amount}"></td>
      <td>
        <a th:href="@{/durations/{durationId}(durationId=${price.duration.id})}"
           th:text="${price.duration.months}"></a>

      </td>
      <td>  <a class="btn btn-outline-primary p-lg" th:href="@{'/prices/' + ${price.id}}">Details</a></td>
    </tr>
    </tbody>
  </table>
  <a class="btn btn-primary p-lg" th:href="@{/prices/create}" role="button">Create price</a>
</div>
</body>
</html>