<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{parts/layout}">
<head>
  <meta charset="UTF-8">
  <title>Create User</title>
</head>
<body>
<div layout:fragment="content">
  <form th:action="@{/users/create}" method="post">
    <h4>Create User</h4>
    <div class="row mb-5">
      <label for="name" class="col-sm-2 col-form-label">Name:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-sm" id="name"
               th:text="${user.name}">
      </div>

      <label for="email" class="col-sm-2 col-form-label">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control form-control-sm" id="email"
               th:text="${user.email}">
      </div>

      <label for="phone" class="col-sm-2 col-form-label">Phone:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control form-control-sm" id="phone"
               th:text="${user.phone}">
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Create</button>
  </form>

</div>
</body>
</html>